html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.wrapper {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: black;
  color: white;
}

main {
  grid-area: main;
  background-color: grey;
}

footer {
  grid-area: footer;
  background-color: black;
}

.card {
    width: 200px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* box-shadow: rgb(86, 81, 81) 10px 10px; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.productimage {
    width: 201px;
}

